{% extends 'auth.html.twig' %}

{% block title %}Password reset{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card p-4 mb-0">
                <div class="card-body p-4">
                    {% include '_flashes.html.twig' %}

                    <h1>Password reset</h1>

                    {{ form_start(form) }}

                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="cil-user"></i></span>
                        </div>
                        {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <button class="btn btn-primary px-4" type="submit">Reset</button>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
